*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

.DS_Store

*.sql

OpenBankingBrazil/
dashboard/
.vscode/

# certs ignore
proxy/ssl/bank.csr
proxy/ssl/bank.crt
proxy/ssl/bank.key

proxy/client/ssl/client.csr
proxy/client/ssl/client.crt
proxy/client/ssl/client.key
